name: Compilar TWRP Poco C40 (Docker)
on:
  workflow_dispatch:

jobs:
  build:
    # Usa o servidor mais novo do GitHub (rápido)
    runs-on: ubuntu-latest
    
    # MAS... roda tudo dentro deste container (Ambiente Controlado)
    container:
      image: ubuntu:20.04

    steps:
    - name: Checkout do Código
      uses: actions/checkout@v3
      with:
        path: device_tree

    - name: Preparar Ambiente (Dentro do Docker)
      run: |
        # Atualiza os repositórios do container antigo
        apt-get update
        
        # Instala dependências críticas sem interação (DEBIAN_FRONTEND=noninteractive)
        DEBIAN_FRONTEND=noninteractive apt-get install -y \
        git-core gnupg flex bison build-essential zip curl zlib1g-dev \
        gcc-multilib g++-multilib libc6-dev-i386 lib32ncurses5-dev \
        x11proto-core-dev libx11-dev lib32z1-dev libgl1-mesa-dev \
        libxml2-utils xsltproc unzip fontconfig python python3 rsync sudo

        # Configura git para não reclamar de rodar como root
        git config --global --add safe.directory '*'

    - name: Baixar e Sincronizar TWRP
      run: |
        mkdir twrp
        cd twrp
        # Configura o repo (necessário no docker)
        curl https://storage.googleapis.com/git-repo-downloads/repo > /usr/bin/repo
        chmod a+x /usr/bin/repo
        
        # Inicializa e Sincroniza
        repo init -u https://github.com/minimal-manifest-twrp/platform_manifest_twrp_aosp.git -b twrp-11 --depth=1
        repo sync -j$(nproc --all) --force-sync

    - name: Integrar Device Tree
      run: |
        mkdir -p twrp/device/xiaomi/frost
        cp -r device_tree/* twrp/device/xiaomi/frost/
        rm -rf twrp/device/xiaomi/frost/.git

    - name: Compilar
      run: |
        cd twrp
        export ALLOW_MISSING_DEPENDENCIES=true
        export USER=$(whoami)
        . build/envsetup.sh
        lunch twrp_frost-eng
        mka vendorbootimage
      
    - name: Upload do Vendor Boot
      uses: actions/upload-artifact@v4
      with:
        name: TWRP-PocoC40-DockerBuild
        path: twrp/out/target/product/frost/vendor_boot.img
